body {
  background-color: #888888;
}

#score {
	color:#FFFFFF
}

#CodeArea {
	font-family: monospace;
	min-height: 300px;
	white-space: pre;
}

#time {
	width = 3ch;
}

.g {
	background-color:#00FF00;
}

.r {
	background-color:#FF0000;
}

.y {
	background-color:#FFFF00;
}

#top {
	max-width: 75ch;
}

#sidebar {
	float: left;
    display: flex;
    border: solid 1px black;
    padding: 5px;
    min-width: 50px;
    font-family: monospace;
}

#right-side {
    margin-left: 75px;
}