body {
  background-color: #888888; /* example... */
}

#CodeArea {
	font-family: monospace;
	min-height: 300px;
	white-space: pre;
}

span.g {
	background-color:#00FF00;
}

span.r {
	background-color:#FF0000;
}
div.myText {
	max-width: 75ch;
}

#score {
	color:#FFFFFF
}